<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wk.projects.schedules">

    <!-- 允许程序设置内置sd卡的读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.WRITE_EXTERNA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".module.ScheduleApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:label="@string/schedule_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:label"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/schedule_icon">
        <activity android:name=".SchedulesMainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.wk.map.gaode.GaoDeMapActivity">
        </activity>
        <activity
            android:name=".info.ScheduleItemInfoActivity"

            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity android:name=".collapse.SchedulesWatchActivity" />
        <activity
            android:name=".collapse.SchedulesCollapseActivity"
            android:configChanges="orientation|keyboardHidden"
            android:process=":collapse">
            <intent-filter>
                <action android:name="com.wk.projects.collapse" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".data.all.AllDataInfoActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />   <!--EditText不自动弹出软键盘-->
        <activity
            android:name=".idea.IdeaActivity"
            android:label="@string/title_activity_idea" />
    </application>

</manifest>